*{
    margin:0;
}
.youtube{
    display: flex;
    justify-content: center;
}
.reminder{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.remindertitle{
    width: 140px;
    height: 50px;
    background-color:#ffeb94;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-left: -1050px;
    padding-top: 4px;
    font-family:sans-serif;
    font-size: large;
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 2px hsla(240, 40%, 15%, 0.6);
}
.reminderarea{
    width: 1200px;
    /* height: 125px; */
    /* border: 1.6px #00000089 solid; */
    box-shadow: 0 0px 4px hsla(240, 0%, 57%, 0.6);
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    z-index: 1;
    font-family:sans-serif;
    border-radius: 20px;
}
.han{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 30px;
}
.content{
    /* width: 400px; */
    /* height: 100px; */
    display: flex;
    align-self: center;
    font-size: 15px;
    font-weight:400;
    font-family:sans-serif;
    font-size: large;
    box-shadow: 0 0px 3px hsla(240, 1%, 46%, 0.6);
    background-color: #ffffff;
    border-color: #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-top: 25px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    z-index: 3;
    /* background-color: #fcedab; */
}
.adjust{
    width: calc(50% + 600px);
}
.authorize{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border-color: #ffe054;
    background-color: #ffe984;
    color: #000000;
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    font-family:sans-serif;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 83.5%;
    /* float: right; */
    /* margin-right: calc(100%-600px); */
}
.addbtn{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border-color: #ffe054;
    background-color: #ffe984;
    color: #000000;
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    font-family:sans-serif;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: -93.5px;
}
.addSchedule{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 15px;
}
.input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputtitle{
    margin-left: 60px;
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    font-family:sans-serif;
}
.closebtn{
    width: 20px;
    height: 20px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    float: right;
}
.addpic,
.close{
    width: 20px;
    height: 20px;
}
dialog{
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
    padding-right: 15px;
    width: 850px;
    height: 500px;
    margin:auto;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
}
.submitbtn{
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 48%;
    border-radius: 10px;
    border-color: #ffe054;
    background-color: #ffe984;
    color: #000000;
    font-family: Comic Sans MS, Comic Sans, cursive;
    cursor: pointer;
}
.calendar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

/* Bubble */
.kuang{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.bubble{
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgb(103, 181, 255);
    box-shadow: inset 0 0 8px rgb(103, 181, 255);
    animation: flutter 10s infinite;
    opacity: 0;
}
@keyframes flutter {
    0%{
        transform: translateX(0);
        bottom: -100px;
        opacity: 1;
    }
    50%{
        transform: translateX(100px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px);
        bottom: 100%;
        opacity: 0;
    }
}
.bubble:nth-child(1){
    left: -10%;
    width: 50px;
    height: 50px; 
    animation-duration: 9s;
    animation-delay: 0.1s;
}
.bubble:nth-child(2){
    left: 15%;
    width: 20px;
    height: 20px;
    animation-duration: 6s;
    animation-delay: 1.5s;
}
.bubble:nth-child(3){
    left: 20%;
    width: 60px;
    height: 60px;
    animation-duration: 10s;
}
.bubble:nth-child(4){
    left: 30%;
    width: 30px;
    height: 30px;
    animation-duration: 5.5s;
    animation-delay: 1.5s;
}
.bubble:nth-child(5){
    left: 40%x;
    width: 50px;
    height: 50px;
    animation-duration: 12s;
}
.bubble:nth-child(6){
    left: 50%;
    width: 20px;
    height: 20px;
    animation-duration: 6s;
    animation-delay: 1s;
}
.bubble:nth-child(7){
    left: 60%;
    width: 40px;
    height: 40px;
    animation-duration: 8s;
    animation-delay: 1s;
}
.bubble:nth-child(8){
    left: 65%;
    width: 60px;
    height: 60px;
    animation-duration: 15s;
}
.bubble:nth-child(9){
    left: 80%;
    width: 55px;
    height: 55px;
    animation-duration: 9s;
    animation-delay: 0.5s;
}
.bubble:nth-child(10){
    left: 100%;
    width: 40px;
    height: 40px;
    animation-duration: 12s;
}