*{
    margin:0;
}
.homecarousel{
    width: 85%;
    margin: auto;
    margin-top: 65px;
}
.homeinfos{
    margin: auto;
    margin-top: 65px;
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.homeinfo{
    width: 300px;
    height:280px;
    display: flex;
    flex-wrap: wrap;
}
.info1{
    width: 300px;
    height: 50px;
    /* border:2px rgb(207, 207, 207) solid; */
    border-bottom: 2px #ffffff solid;
    background-color: #eeeeee;
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family:sans-serif;
    font-weight: bold;
}
.info2{
    width: 300px;
    height: 200px;
    /* border:2px rgb(207, 207, 207) solid; */
    background-color: #eeeeee;
    z-index: 1;
    /* box-shadow: 0 0 3px hsla(240, 40%, 15%, 0.6); */
    -webkit-filter: drop-shadow(5px 5px 5px rgba(69, 69, 69, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(69, 69, 69, 0.7));
}